name: Build Tests
on: [push]

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
      - uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: build
          args: --release --all-features      
      - uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: test
